* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}

.header-word {
    color: rgb(92, 92, 92);
    font-size: 1.8rem;
}

.header-logo {
    width: fit-content;
    height: fit-content;
}

ul {
    list-style-type: none;
}

.navbar-items {
    display: flex;
    text-align: center;
    gap: 2rem;
}

.search-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
}

.search-texts {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 8px;
    background: #fff;
    border-bottom: 1px solid #eee
}

.search-input {
    width: 300px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.search-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.main {
    width: 99vw;
    height: 90vh;
    position: relative;
}

.main-pic {
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.main-txt {
    font-size: 16px;
    padding-left: 10rem;
    padding-bottom: 4rem;
    color: white;
}

.main-txxt {
    padding-left: 10rem;
    bottom: 4rem;
    text-decoration: underline;
    color: white;
}

.navigations-items {
    padding-top: 2rem;
    width: 99vw;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.navigation-item {
    color: rgb(131, 129, 129);
}

.part-1 {
    color: black;
    text-decoration: underline;
}

.market-section {
    width: 99vw;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    padding: 5rem;
}

.market-info {
    padding-top: 1rem;
    width: 70%;
}

.market-text {
    padding-top: 0.5rem;
}

.market-name {
    display: inline;
}

.market-name__extra {
    font-size: 0.8rem;
    color: rgba(168, 168, 168, 1);
}

.market-prizes {
    padding-top: 0.4rem;
}

.market-prize {
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem;
}

.market-prize__extra {
    color: red;
    font-size: 0.9rem;

}