* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    font-family: "Roboto", "sans-serif";
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2rem;
}

.header-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
}

.header-word {
    color: rgb(92, 92, 92);
    font-size: 1.8rem;
}

.header-logo {
    width: fit-content;
    height: fit-content;
}

ul {
    list-style-type: none;
}

.navbar-items {
    display: flex;
    text-align: center;
    gap: 2rem;
}

.search-box {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
}

.search-texts {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 8px;
    background: #fff;
    border-bottom: 1px solid #eee
}

.search-input {
    width: 300px;
    padding: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
}

.search-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.main {
    width: 99vw;
    height: 90vh;
    position: relative;
}

.main-pic {
    width: 100%;
    height: 100%;
}

.main-text {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.main-txt {
    font-size: 16px;
    padding-left: 10rem;
    padding-bottom: 4rem;
    color: white;
}

.main-txxt {
    padding-left: 10rem;
    bottom: 4rem;
    text-decoration: underline;
    color: white;
}

.navigations-items {
    padding-top: 2rem;
    width: 99vw;
    display: flex;
    justify-content: center;
    gap: 2.5em;
}

.navigation-item {
    color: rgb(131, 129, 129);
}

.part-1 {
    color: black;
    text-decoration: underline;
}

.market-section {
    width: 99vw;
    display: grid;
    place-items: center;
    grid-template-columns: auto auto auto auto;
    padding: 5rem;
}

.market-info {
    padding-top: 1rem;
    width: 70%;
}

.market-text {
    padding-top: 0.5rem;
}

.market-name {
    display: inline;
}

.market-name__extra {
    font-size: 0.8rem;
    color: rgba(168, 168, 168, 1);
}

.market-prizes {
    padding-top: 0.4rem;
}

.market-prize {
    color: rgba(128, 128, 128, 1);
    font-size: 0.9rem;
}

.market-prize__extra {
    color: red;
    font-size: 0.9rem;

}

.market-button{
    display: flex;
    justify-content: center;
    top: 3rem;
}

.button-txt {
    width: 14rem;
    height: 2rem;
    color: white;
    background-color: black;
    text-align: center;
    justify-content: center;
    padding-top: 0.4rem;
}

.analog-section {
    width: 99vw;
    height: 85vh;
    position: relative;
    margin-top: 8rem;
}

.analog-texts {
    position: absolute;
    top: 17rem;
    left: 12rem;
}

.analog-tittle {
    font-size: 2rem;
    color: white;
    letter-spacing: 0%;
}

.analog-button {
    padding-top: 2rem;
}

.analog-btton {
    width: 10rem;
    height: 2rem;
    color: white;
    background-color: rgba(126, 110, 69, 1);
    border: rgba(126, 110, 69, 1);
}

.analog-link {
    color: white;
    text-decoration: underline;
    top: 2rem;
    font-size: 0.8rem;
}

.journal-section {
    width: 100%;
    height: 85vh;
    background-color: rgba(49, 47, 46, 1);
    position: relative;
}

.journal-main {
    background-color: white;
    width: 60%;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: rgba(49, 47, 46, 1);
}

.journal-text {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;

}

.journal-txt {
    padding-top: 1rem;
    font-size: 0.7rem;
}

.journal-link {
    font-size: 0.6rem;
    text-decoration: underline;
    padding-top: 1.5rem;
}

.journal-img {
    width: 70%;
}

.form-section {
    padding-top: 6rem;
    width: 99vw;
    height: 185vh;
}

.form-text {
    width: 100%;
    text-align: center;
    color: rgba(26, 26, 26, 1);
}

.form-photos {
    width: 90%;
    gap: 5rem;
    padding-top: 4rem;
    padding-left: 14%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.form-photo:nth-child(3) {
    grid-column: span 2
}

.form-link {
    text-decoration: underline;
}

.writing-section {
    margin-top: 15rem;
    width: 99vw;
    height: 80vh;
    background-image: url('images/writing1.jpg');
    background-size: cover;
}

.writing-section__text {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.writing-section__tittle {
    color: rgba(255, 255, 255, 1);
    letter-spacing: 2px;
}

.writing-section__link {
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    padding-top: 1rem;
    font-size: 0.7rem;
}

.comment-section {
    width: 99vw;
    height: 65vh;
    background-color: rgba(206, 211, 202, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.comment-tittle {
    color: rgba(26, 26, 26, 1);
    font-size: 2rem;
}

.comment-txt {
    padding-top: 2rem;
    font-size: 0.7rem;
    color: rgba(26, 26, 26, 1);
}

.comment-button {
    padding-top: 2.4rem;
}

.comment-btton {
    font-size: 1.5rem;
    width: 20rem;
}

.footer {
    width: 99vw;
    height: 50vh;
    background-color: rgba(247, 247, 247, 1);
}

.footer-text {
    width: 100%;
    display: flex;
    gap: 20rem;
}

.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:40%;
    padding-top: 9%;
    padding-left: 8%;
}

.footer-link {
    padding-top: 7px;
}

.footer-logo {
    width: 4rem;
    height: 6rem;
}

.footer-logo > img {
    width: 100%;
    height: 100%;
}

.footer-end {
    padding-top: 8rem;
    display: grid;
    grid-template-columns: auto auto;
    width: 25%;
}

.footer-logo:nth-child(3) {
    grid-column: span 2
}

.footer-end__text {
    text-align: right;
    padding-right: 1rem
}

.ugmonk2021 {
    color: rgba(26, 26, 26, 1);
}

.footer-end__txt {
    padding-top: 0.5rem;
}

.footer-social {
    text-align: right;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-right: 1rem;
}